/* line 1, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.div-user-not-logged-in {
  background-color: darkgrey;
  background: url(/assets/log-in-bg-4-b91adb47424118b504855139435b18de8930fa54613610a9821a01c5fd8b4dc9.jpg);
  width: 100%;
  height: 100vh !important;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

/* line 12, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.section-user-not-logged-in {
  padding-top: 5%;
  color: #E8E8E8;
  margin-top: -51px;
}

/* line 17, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.devise-label {
  color: white;
}

/* line 20, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.devise-type-in {
  color: black;
}

/* line 24, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
a.navbar-brand, a.nav-bar-user-info, a.dropdown-toggle {
  background: tranparent !important;
  color: white !important;
  font-size: 125%;
}

/* line 31, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.nav-bar-toggle-span {
  background-color: #E8E8E8 !important;
}

/* line 34, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
.dropdown-for-nav-bar {
  background: transparent;
}

/* line 37, /Users/raychoi/WDI/ult_pro/app/assets/stylesheets/main.scss */
a:hover {
  color: white !important;
  font-style: italic;
}
