<h1>Tasks Assigned To Me</h1>
  <div class='tasks_assigned_to_me_div'>
    <div class='tasks-for-removal'>
      <table id="tasks_assigned_to_me">
      </table>
    </div>
  </div>

<hr>

<h1>Tasks Others Owe Me</h1>
  <div class='tasks_others_owe_me_div'>
    <div class='tasks-for-removal'>
      <table class='tasks-for-removal' id="tasks_others_owe_me">
      </table>
    </div>
  </div>

<hr>

<h1>Tasks Created For Myself</h1>
  <div class='tasks_created_for_myself_div'>
    <div class='tasks-for-removal'>
      <table class='tasks-for-removal' id="tasks_created_for_myself" ></table>
    </div>
  </div>

<hr>
