<h1>Tasks Assigned To Me</h1>
  <div class='tasks_assigned_to_me_div'>
    <table id="tasks_assigned_to_me"></table>
  </div>

<hr>
<h1>Tasks Others Owe Me</h1>
  <div class='tasks_others_owe_me_div'>
    <table class='tasks-for-removal' id="tasks_others_owe_me"></table>
  </div>

<hr>
<h1>Tasks Created For Myself</h1>
  <div class='tasks_created_for_myself_div'>
    <table class='tasks-for-removal' id="my_own_tasks" ></table>
  </div>
<hr>
