<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <title>At.js</title>
  <link rel="stylesheet" href="../dist/css/jquery.atwho.css" />
  <link rel="stylesheet" href="./style.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ichord.github.io/Caret.js/src/jquery.caret.js"></script>
  <!-- // <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script> -->
  <!-- // <script type="text/javascript" src="../bower_components/Caret.js/dist/jquery.caret.js"></script> -->
  <script type="text/javascript" src="../dist/js/jquery.atwho.js"></script>
  <script type="text/javascript">

  </script>
  
</head>
<body>
  <div class="container wrapper">
    <header>
      <h3>Type `#` to autocomplete tags</h3>
    </header>
    <div id="main">
      <div id="editable" class="inputor" contentEditable="true"></div>
      <footer>
        <h2>
          -> <a class="github" href="https://github.com/ichord/At.js">Fork me on GitHub!</a>
        </h2>
      </footer>

    </div>
  </div>
</body>
</html>
