<h2>Company Employees</h2>
<hr>
<% @users.each do |user| %>
  <h2><%= link_to "#{user.first_name.upcase}", user_path(user.id), :class => 'user-index-page-name'%></h2>
  <p>Email: <%= user.email %></p>
<% end %>
