<div>
  <br>
  <!-- <section class='section-create-task'>
    <div class="create-task">
      <form id='form-create-new-task' name='form-create-new-task'>

      <div class='new-task-fields'>
        <div class='new-task-individual-fields'>
        <label for="task-assignee_id" style="display: inline">Who do you want to assign this to?</label>
        <div id='div-id-task-assignee' class="div-class-assign-task" contenteditable="true" autocomplete="off" style="display: inline-block; width: 20%" required></div>
        </div>

        <div class="new-task-individual-fields">
        <label for="task-title">Title</label>
        <input type='text' id='task-title' autocomplete="off" maxlength=120 required/>
        </div>

        <div class="new-task-individual-fields">
        <label for="task-description">Description</label> -->
        <!-- <input type='text' id='task-description' maxlength=200 autocomplete="off"  required/> -->
        <!-- <textarea type='text' id='task-description' autocomplete="off" required/></textarea>
        </div>

        <div class="new-task-individual-fields">
        <label for="create-task-date-picker">When is this due?</label>
        <input type='text' id="create-task-date-picker" autocomplete="off"  placeholder='mm/dd/yyyy' required>
        </div>
        <div class="new-task-submit-button">
        <button type='submit' class='btn create-task-button'>Create New Task</button>
        </div>
      </div>
      </form>
    </div>
  </section> -->





  <section class='section-create-task'>
    <div class="create-task">
      <form id='form-create-new-task' name='form-create-new-task'>

      <div class='new-task-fields'>
        <div class='row'>
          <div class='col-lg-4 col-sm-4'>
            <!-- <div class='new-task-individual-fields'> -->
            <label for="task-assignee_id" style="display: inline">Who do you want to assign this to?</label>
            <div id='div-id-task-assignee' class="div-class-assign-task" contenteditable="true" autocomplete="off"required></div>
            <!-- </div> -->
          </div>

          <div class='col-lg-4 col-sm-4'>
            <!-- <div class="new-task-individual-fields"> -->
            <label for="task-title">Title</label>
            <input type='text' id='task-title' autocomplete="off" maxlength=120 required/>
            <!-- </div> -->
          </div>

          <div class='col-lg-4 col-sm-4'>
            <!-- <div class="new-task-individual-fields"> -->
            <label for="create-task-date-picker">When is this due?</label>
            <input type='text' id="create-task-date-picker" autocomplete="off"  placeholder='mm/dd/yyyy' required>
            <!-- </div> -->

          </div>
        </div>


        <div class='row'>
          <div class='col-lg-8 col-sm-8'>
            <!-- <div class="new-task-submit-button"> -->
              <!-- <div class="new-task-individual-fields"> -->
              <label for="task-description">Description</label>
              <!-- <input type='text' id='task-description' maxlength=200 autocomplete="off"  required/> -->
              <textarea type='text' id='task-description' autocomplete="off" required/></textarea>
              <!-- </div> -->
            <!-- </div> -->
          </div>
        <div class='col-lg-4 col-sm-4'>
          <button type='submit' class='btn create-task-button'>Create New Task</button>
        </div>

      </div>
    </div>

      </div>
      </form>
  </section>





  <section class='section-assigned-tasks section-tasks col-12'>
    <h2 class='h2-task-header'>Tasks Assigned To Me</h2>
    <div class='tasks_assigned_to_me_div div-tasks'>
      <table id="tasks_assigned_to_me"></table>
    </div>
  </section>

  <section class='section-others-tasks section-tasks col-12'>
    <h2 class='h2-task-header'>Tasks Owed To Me</h2>
    <div class='tasks_others_owe_me_div div-tasks'>
      <table id="tasks_others_owe_me"></table>
    </div>
  </section>

  <section class='section-others-tasks section-tasks'>
    <h2 class='h2-task-header'>Tasks Created For Myself</h2>
    <div class='tasks_created_for_myself_div div-tasks'>
      <table id="my_own_tasks"></table>
    </div>
    <hr>
  </section>

</div>

<!-- Modal for ONE item -->
<div class='show-modal-outer-div'>
  <div class='show-modal'></div>
</div>





<!-- drawer for editing -->

<div class='edit-drawer-outer-div'>
  <div class='edit-drawer'></div>
</div>
