/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-table';
 @import 'bootstrap-datepicker3';
body{
  font-family: 'Khula', sans-serif;
}

.navbar {
  background: transparent;
  margin-bottom: 0%;
  border: 0;
  box-shadow: none;
  font-size: 150%;

}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.navbar-brand, a.nav-bar-user-info {
  color: #E8E8E8 !important;
  font-size: 125%
}

.nav-bar-toggle-span {
  background-color: #E8E8E8 !important;
}
