body {
  background-color: darkgrey;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.devise-label {
  color: white;
}

a.navbar-brand, a.nav-bar-user-info, a.dropdown-toggle, {
  background: tranparent !important;
  // color: #E8E8E8 !important;
  color: white !important;
  font-size: 125%
}

.nav-bar-toggle-span {
  background-color: #E8E8E8 !important;
}
.dropdown-for-nav-bar {
  background: transparent;
}
a:hover {
  color: white !important;
  font-style: italic;
}
