// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// background color for the header
// .sortable {
//   background-color: #B6D3AB;
// }


// FOR TASKSS]\\
.div-class-assign-task, {
  border-style: solid;
  border-color: black;
  border-width: .20px;
  border-color: lightgrey;
  margin-top: 5px;
  height: 25px;
  box-sizing: border-box;
}
#div-id-task-assignee {
  padding-top: 2px !important;
  padding-left: 1px !important;
}
#div-id-task-assignee-drawer {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: .5px;
  border-color: lightgrey;
  height: 26px;
  margin-bottom: 5px;
}
.section-tasks {
  position: relative;
  margin-top: 4.5%;
  // background: image-url('notebook-page.jpg');
  /* Full width */
  // width: 100%;
  /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;
}
.show-task-section {
  position: relative;
  // background: image-url('notebook-page.jpg');
  /* Full width */
  // width: 100%;
  /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;

}
.h2-task-header {
  // this guy is stuck to that guy (using position absolute)
  position: absolute;
  display: inline;
  background: white;
  z-index: 2;
  margin-left: 5%;
  margin-top: -2%;
  padding-left: 2%;
  padding-right: 2%;

}

.div-tasks {
  border-radius: 8px;
  border: solid;
  border-width: 1px;
  padding: 3.5% 1.5%;
  // margin-top: -2.7%;
}

.disable-div {
  background-color: pink
}
.h2-single-task-header {
  font-size: 400%;
  position: relative;
  top: 40px;
  background: white;
  display: inline-block;
  left: 5%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.fake-span {
    cursor: pointer;
}
.single-task {
  font-weight: bold;
}

#task-title, #task-description, #create-task-date-picker, #task-title-drawer, #task-description-drawer, #due-date-task-date-picker {
  display: block;
  width: 100%;
}
#task-description, #task-description-drawer  {
  border-color: lightgrey;
  height: 100px;
}

.create-task-button {
  background-color: #34A750;
  margin-top: 7%;
  align: center;
  color: white;
  // width: 100%;
}
.update-task-button, {
  background-color: #34A750;
  color: white;
}
.devise-login-button {
  background-color: #34A750;
  color: white;
  margin-bottom: 10px !important;
}

#task-title-drawer, #task-description-drawer, #due-date-task-date-picker, {
  display: block;
  margin-bottom: 5px;
}
.bootstrap-select {
  display: block !important;
}

.update-task-fields {
  padding: 0% 5%;
}
.close-drawer {
  margin-left: 10%;
  color: white;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: grey;
  padding-top: 3px;
  padding-left: 1px;
}

// .task-created{
//   padding-top: -2px;
// }
