// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sortable {
  background-color: #B6D3AB;
}


// FOR TASKSS]\\
.div-assign-task {
  border-style: solid;
  border-color: black;
}
.section-tasks {
  position: relative;
  margin-top: 4.5%;
  // background: image-url('notebook-page.jpg');
  /* Full width */
  // width: 100%;
  /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;
}
.show-task-section {
  position: relative;
  // background: image-url('notebook-page.jpg');
  /* Full width */
  // width: 100%;
  /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;
}
.h2-task-header {
  // this guy is stuck to that guy (using position absolute)
  position: absolute;
  display: inline;
  background: white;
  z-index: 2;
  margin-left: 5%;
  margin-top: -2%;
  padding-left: 2%;
  padding-right: 2%;
}

.div-tasks {
  border-radius: 8px;
  border: solid;
  border-width: 1px;
  padding: 3.5% 1.5%;
  // margin-top: -2.7%;
}

.disable-div {
  background-color: pink
}
.h2-single-task-header {
  font-size: 400%;
  position: relative;
  top: 40px;
  background: white;
  display: inline-block;
  left: 5%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.single-task {
  font-weight: bold;
}
// a.editable-click {
//   color: green;
//   border-color: green;
// }
// a.editable-click.editable-disabled {
//   color: black;
//   border-bottom: none;
// }
// a.editable-empty {
//   color: gray;
//   font-style: italic;
// }
