// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#big {
  font-size: 200%;
  background: cornflowerblue;
}
.div-assign-task {
  border-style: solid;
  border-color: black;
}

.bootstrap-tagsinput .tag {
  color: black;
}

.disable-div {
  background-color: pink
}

.section-tasks {
  position: relative;
  margin-top: 4.5%;
}
.h2-task-header {
  // this guy is stuck to that guy
  position: absolute;
  display: inline;
  background: white;
  z-index: 2;
  margin-left: 5%;
  margin-top: -2%;
  padding-left: 2%;
  padding-right: 2%;
}
.div-tasks {
  border: solid;
  border-width: 2px;
  padding: 3.5% 1.5%;
  // margin-top: -2.7%;
}
