// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// for date and time - for the clock made updates to the CSS file
.div-date-time-user-info{
  // https://unsplash.com/photos/iGAskcHIfVU
  background: image-url('bg-2.jpg');
  /* Full width */
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
.section-date-time-user-info {
  padding-bottom: 10%;
  color: #E8E8E8;
  margin-top:-51px;
}

.date {
  font-size: 200%;
  align: center;
  // margin top and bottom = 5% left and right is 0%
  margin:5% 0%;
}
// to update the clock am / pm updated the flipclock.js line 2319
// '<span style="color: grey">'+this.meridiumText+'</span>',
.welcome-name {
  font-size: 1000%;
  margin-top: 0%;
  padding-top: 6%;
}
